<mat-card class="import-card">
  <mat-card-header>
    <mat-card-title>Sistema Doador de Sangue</mat-card-title>
    <mat-card-subtitle
      >Importe o arquivo PDF para processar as informações dos
      doadores</mat-card-subtitle
    >
  </mat-card-header>

  <mat-card-content>
    <div class="file-input-container">
      <button mat-stroked-button color="primary" (click)="fileInput.click()">
        Escolher arquivo
      </button>
      <input
        type="file"
        hidden
        #fileInput
        (change)="onFileChanged($event)"
        accept=".pdf"
      />
      <span *ngIf="selectedFile">{{ selectedFile.name }}</span>
    </div>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  </mat-card-content>

  <mat-card-actions>
    <button
      mat-raised-button
      color="accent"
      (click)="onUpload()"
      [disabled]="!selectedFile || isLoading"
    >
      Upload e Processar
    </button>
  </mat-card-actions>

  <div *ngIf="resultado" class="result-container">
    <mat-card
      class="result-card"
      *ngFor="let item of getResultArray(resultado)"
    >
      <mat-card-header>
        <mat-card-title>{{ item.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ng-container *ngIf="isObjectType(item.data)">
          <div *ngFor="let key of getObjectKeys(item.data)">
            <strong>{{ key }}</strong
            >: {{ item.data[key] }}
          </div>
        </ng-container>
        <ng-container *ngIf="!isObjectType(item.data)">
          {{ item.data }}
        </ng-container>
      </mat-card-content>
    </mat-card>
  </div>
</mat-card>
